tbody tr:nth-child(odd) {
    background-color: var(--first-color);
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--background-color);
  }
  
 
  
  table {
    background-color: var(--first-color);
  }



  th {
    min-width: 20vh;
  }

  .body {
    background-color: var(--first-color);
  }

  body {
    background-color: var(--first-color);
  }

  .demo{
    width:100%;
    height:100%;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
    
}

.demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:inherit;
}

.demo td {
    border:1px solid #C0C0C0;
    padding:5px;
}

.totalS {
    border:1px solid black!important;
    max-width: 20%;
    border-radius: 5px;
    margin-top:20px;
    
}

.checkOut {
    background-color: var(--second-color);
    border: 1px solid var(--fourth-color);
    color: var(--fifth-color);
    
}

.checkOut:hover {
    background-color: var(--third-color);
    color: var(--fifth-color);
    border: 1px solid var(--fourth-color);
}


#anchor_strong, h3 {
  font-size: 25px;
  color: var(--fourth-color);
}

#emptyCartImg {
  opacity: 0.7;
}

.minus, .plus, .eliminarProducto {
  background-color: var(--second-color) !important;
  border: 1px solid var(--fourth-color) !important;
  color: var(--fourth-color)!important;
}

.minus:hover, .eliminarProducto:hover, .plus:hover, .checkOut:hover {
    background-color: var(--third-color)!important;
}

.checkOut {
  background-color: var(--second-color) !important;
  border: 1px solid var(--fourth-color) !important;
  color: var(--fourth-color)!important;
}

.d-flex {
  display: flex !important;
}