.input {
    border-radius: 10px;
    width: 80%;
    height: 40px;
    background-color: #f9fafb;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border: gray 1px solid;
}

.label {
    background-color: #e9ecef;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
}

h2 {
    margin: 10px;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 20%;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(254, 254, 254);
    margin-top: 25px;
}

.button:hover {
    border: solid 2px gray;
}

::placeholder {
    font-size: 0.7em;
    text-align: center;
}

.col {
    display: table-cell !important;
    /* Make elements inside the container behave like table cells */
}

@media only screen and (max-width: 600px) {
    .col {
        display: block !important;
        width: 100% !important;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 600px;
}

.form-group label {
    font-size: 16px;
    font-family: "Montserrat Semibold", sans-serif;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    background: var(--background-color) !important;
    width: 100%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    color: var(--first-font-color);
    font-size: 14px;
    padding: 0 15px;
    outline: none;
    transition: border-color 0.2s ease-in;
}

.form-group input:focus,
.form-group select:focus {
    border-color: var(--third-color);
}

.form-group button {
    border-radius: 5px;
    background-color: grey !important;
    border: 1px solid var(--fourth-color) !important;
    color: black !important;
    font-size: 26px;
    font-family: "Montserrat Bold", sans-serif;
    cursor: pointer;
}

.form-group button:hover {
    background-color: var(--third-color) !important;
    color: white!important;
}

.form-group:last-child {
    margin-top: 20px;
}

.result-container {
    margin-top: 30px;
}

.result-content {
    border: 1px solid var(--third-color);
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 60%;
}

.result-content ul {
    list-style: none;
}

.result-content ul li {
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat Bold", sans-serif;
    line-height: 30px;
}

.result-content ul li strong {
    color: var(--first-color);
}

div.container,
body {
    background-color: var(--first-color);
}

#form {
    max-width: 60%;
    justify-content: center !important;
}

.submit {
    align-items: center;
}

li.result {
    font-weight: normal !important;
}

ul.result {
    list-style-type: circle !important;
}

h6 {
    font-weight: bold !important;
}

#age {
    background-color: #e9ecef !important;
}

p.more,
h5,
h6 {
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.resultC {
    background-color: var(--background-color);
}

input:focus {
    background-color: var(--background-color) !important;
}

div.imc,
div.info {
    background-color: var(--background-color);
    padding: 2vh;
    background-color: var(--background-color);
    border-radius: 5px;
}

.result-content>div,
h5 {
    margin-left: 1vh;
    margin-right: 1vh;
}

p,
h5,
h6 {
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.my-form {
    max-width: 500px!important; /* ajustar el ancho máximo según sus necesidades */
    margin: 0 auto!important; /* centrar horizontalmente el formulario */
  }
